a{
    color:#fff;
    text-decoration: none;
}

form{
    padding: 20px;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    width: 30%;
    gap:15px;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    border-radius: 5px;
}

h1{
    text-align: center;
}
input  , select{
    padding:10px;
    border-radius: 5px;
    border:1px solid grey

}

input:last-child{
    background-color: #02bdd5;
    color:#fff;
    border: none;
    cursor: pointer;
}




table{
    border:1px solid rgb(120, 118, 118);
    border-collapse: collapse;
    margin: auto;
    text-align: center;

}

tr:nth-child(even){
    background-color: #02bdd5;
}

tr , td , th {
    padding:15px 20px;
    border: 1px solid rgb(184, 183, 183);
}

input:focus{
    outline: none;
}

.level{
    display: flex;
    gap:10px;
    align-items: center;
}

.addgreen{
    background-color: green;
}
.addred{
    background-color: red;
}
h2{
    padding:30px;
}
ul{
    display: flex;
    flex-direction: column;
    gap:5px;
    list-style: none;
    width: 50%;
}
li{
    padding:20px;
    border: 1px solid rgb(191, 189, 189);
    cursor: pointer;

}

.pagination{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 95%;
    margin: auto;
}

.question_div{
    width: 60%;
    border: 1px solid rgb(191, 189, 189);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

button{
    padding:12px 20px;
    background-color: #02bdd5;
    border: none;
    cursor: pointer;
}